/* Select all elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Set background color and the general grid */
body {
    background-color: #d9dcd6;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1 0 auto;
}

/* Row 1 - navigation bar */
nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    position: fixed;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

ul {
    flex: 0 1 auto;
    list-style: none;
    margin: 0px 20px;
    padding : 10px 0px 0px;
    font-size: 20px;
    letter-spacing: .5px;
}

.nav-brand {
    flex: 1 0 auto;
    font-size: 36px;
}
.seo {
    color: lightgrey;
}

li {
    display: inline;
    padding-top: 10px;
    margin-left: 15px;
    padding-right: 5px;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

/* Row 2 - header image */
#header-image {
    margin-bottom: 30px;
    clear: both;
}

#marketing {
    width: 100%;
}

/* Row 3 - main content */
main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    width: 100%;
}

/* R3 Col1 Section - main */
#main {
    flex: 1 0 65%;
    margin: 0px 30px;
    display: flex;
    flex-direction: column;
}

#main .box {
    flex: 1 0 auto;
    margin-bottom: 30px;
    padding: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.main-img-left {
    max-height: 180px;
    float: left;
    margin-right: 35px;
}

.main-img-right {
    max-height: 180px;
    float: right;
    margin-left: 35px;
}

.main-heading {
    font-size: 32px;
    margin-bottom: 20px;
}

.main-text {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    max-width: 77ch;
}

/* R3 Col2 Section - aside */
#aside {
    flex: 0 1 auto;
    margin-right: 30px;
    margin-bottom: 30px;
    padding-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;

    display: flex;
    flex-direction: column; 
    justify-content: space-around;
}

#aside .box {
    flex: 1 0 auto;
    color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
}
    
.box-row {
    flex: 0 1 auto;
    margin: 5px;
}
.benefits-heading {
    font-size: 24px;
}
.benefits-img {
    max-width: 100px;
    margin: 0;
}
.benefits-text {
    margin-left: 20px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
}

/* Footer copyright */
footer .col {
    padding-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
}